<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise AI Website Builder v0.01, https://ai.mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise AI v0.01, ai.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="Real Madrid Football Club, one of the most successful and storied football clubs in the world, has a rich history and boasts a roster of legendary players.">

  <title>Real Madrid </title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap"></noscript>
  <link rel="preload" as="style" href="/assets/mobirise/css/additional.css"><link rel="stylesheet" href="/assets/mobirise/css/additional.css" type="text/css">
  
  <link href="/public/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="people02 cid-u33VXhCV6Z" id="testimonials-10-u33VXhCV6Z">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-12 content-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>Legends</strong>
                    </h3>
                    <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-4 display-7">
                        What People Are Saying About MadridFC
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                MadridFC is more than a club, it&#x27;s a way of life. The passion and energy here are unmatched!
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Diego Maradona
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                I&#x27;ve played in many stadiums, but none compare to the magic of MadridFC. It&#x27;s a dream come true for any footballer.
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Lionel Messi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                The history and tradition of MadridFC are awe-inspiring. It&#x27;s an honor to be part of such a legendary club.
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Cristiano Ronaldo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                MadridFC is more than a club, it&#x27;s a way of life. The passion and energy here are unmatched!
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Diego Maradona
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                I&#x27;ve played in many stadiums, but none compare to the magic of MadridFC. It&#x27;s a dream come true for any footballer.
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Lionel Messi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">
                                The history and tradition of MadridFC are awe-inspiring. It&#x27;s an honor to be part of such a legendary club.
                            </h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">
                                Cristiano Ronaldo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
</body>
</html>