<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise AI Website Builder v0.01, https://ai.mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise AI v0.01, ai.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="Real Madrid Football Club, one of the most successful and storied football clubs in the world, has a rich history and boasts a roster of legendary players.">

  <title>Real Madrid </title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap"></noscript>
  <link rel="preload" as="style" href="/assets/mobirise/css/additional.css"><link rel="stylesheet" href="/assets/mobirise/css/additional.css" type="text/css">
  
  <link href="/public/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <section class="people03 cid-u33VXhEybc" id="team-1-u33VXhEybc">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Real Madrid Players</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/ronaldo.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Cristiano</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">forward</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/ramos.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Sergio</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">Defender</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/iker.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Iker</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">Goalkeeper</p>
                        </div>
                    </div>
                </div>
          <div class="item features-image col-12 col-md-6 col-lg-3">
            <div class="item-wrapper">
              <div class="item-img mb-3">
                <img src="assets/images/kaka.jpg">
              </div>
              <div class="item-content align-left">
                <h6 class="item-subtitle mbr-fonts-style display-5">
                  <strong>Kaka</strong>
                </h6>
                <p class="mbr-text mbr-fonts-style display-7">Midfielder</p>
              </div>
            </div>
          </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/val.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>valverde</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">Midfielder</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/cama.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Camavinga</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">Defender</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/vinii.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>vinicious</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">left winger</p>
                        </div>
                    </div>
                </div>
          <div class="item features-image col-12 col-md-6 col-lg-3">
            <div class="item-wrapper">
              <div class="item-img mb-3">
                <img src="/assets/images/kroos.jpg">
              </div>
              <div class="item-content align-left">
                <h6 class="item-subtitle mbr-fonts-style display-5">
                  <strong>Kroos
                  </strong>
                </h6>
                <p class="mbr-text mbr-fonts-style display-7">Midfielder</p>
              </div>
            </div>
          </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/modric.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Modric</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">Midfielder</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/benzema.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Benzema</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">striker</p>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="/assets/images/rodrigo.jpg">
                        </div>
                        <div class="item-content align-left">
                            <h6 class="item-subtitle mbr-fonts-style display-5">
                                <strong>Rodrigo</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">right winger</p>
                        </div>
                    </div>
                </div>
          <div class="item features-image col-12 col-md-6 col-lg-3">
            <div class="item-wrapper">
              <div class="item-img mb-3">
                <img src="/assets/images/diaz.jpg">
              </div>
              <div class="item-content align-left">
                <h6 class="item-subtitle mbr-fonts-style display-5">
                  <strong>Diaz</strong>
                </h6>
                <p class="mbr-text mbr-fonts-style display-7">Midfielder</p>
              </div>
            </div>
          </div>
            </div>
        </div>
    </section>
</body>
</html>