<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real madrid</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
           
            margin: 0;
            text-align:center;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .aa {
            max-width: 45%; /* Make the image responsive */
            height: auto;    /* Maintain aspect ratio */
            object-fit:contain; /* Adjust this based on how you want the image to fit */
        }

        p {
            margin-top: 10px; /* Adjust as needed */
            max-width: 1200px;
            color: darkslategrey;
        }
    </style>
</head>
<body>
    <div class="container"><div>
        <img class="aa" src="/assets/images/realmadridlogo.jpg" alt="Real Madrid Logo"></div>
        <div>
            <h1>History of Real Madrid</h1>
        </div>
        <p>Real Madrid Club de Fútbol is a professional football club based in Madrid, 
            Spain. The club was formed in 1902 as Madrid Football Club, and played its first 
            competitive match on 13 May 1902, when it lost 3–1 in the semi-final of the 
            Campeonato de Copa de S.M. Alfonso XIII against FC Barcelona.[1] Real Madrid
             played against other local clubs in various regional tournaments, that served 
             as qualifiers for the Copa del Rey, from 1902 to 1940. In 1929, the club became 
             one of the founding members of La Liga, Spain's first national league. As of 2024,
              Real is one of only three clubs never to have been relegated from the top level of Spanish football, 
            the others being Athletic Bilbao and Barcelona.[2][3]
            From 1902 to 1929,
             Real won the Copa 
    del Rey five times and the regional championship 15 times. 
             Real Madrid had a successful start in La Liga, finishing second in the competition's first 
             season,
              and winning the league in 1932 for the first time. In the 1947–48 season, Madrid finished 
              eleventh, which remains, as of 2022, the club's lowest final position.[4] Real Madrid won
               La Liga four times and the European Cup five times during the 1950s. However, the most
                successful period for the club in terms of domestic titles was the 1960s, when Real Madrid 
                won eight league championships. It won its first double of league championship and national
                 cup in 1962. Real is also the only Spanish football team to win five consecutive titles, a feat which it has achieved on two occasions (1960–65 and 1985–90).[5]
            
            In addition to their domestic success, Real Madrid's reputation as a major club was established by

             their outstanding record in the European Cup. To date, they have been crowned champions of Europe
              a record fourteen times. Alfredo Di Stéfano, Ferenc Puskás and other famous players helped the
               club win the European Cup five times in a row between 1956 and 1960, which included a 
               memorable 7–3 Hampden Park final against German side Eintracht Frankfurt in 1960. 
               The club won the trophy for a sixth time in 1966 with a team known as the Ye-Ye that 
               defeated Yugoslavian club Partizan 2–1 in the final while being composed entirely of
                Spanish-born players, a first in the competition. They were also runners-up in 1962, 1964 
                and 1981. Winning the competition five consecutive times saw Real permanently awarded the 
                original cup and earning the right to wear a multiple-winner badge since 2000. They have also won the UEFA Cup twice and were twice runners-up in the European Cup Winners' Cup.
            
            In 1996, president Lorenzo Sanz appointed Fabio Capello as coach. Although his tenure lasted
             only one season, Real Madrid were proclaimed league champions and several important players arrived at the club, such as Roberto Carlos, Predrag Mijatović, Davor Šuker and Clarence Seedorf, to strengthen a squad that already boasted the likes of Raúl, Fernando Hierro and Fernando Redondo. As a result, Real Madrid, with the addition of Fernando Morientes in 1997, finally ended its 32-year wait for the seventh European Cup in 1998 under manager Jupp Heynckes, defeating Juventus 1–0 in the final thanks to a goal from Mijatović. Real Madrid would go on to win again in 2000, 2002 (under manager Vicente del Bosque), 2014 (under manager Carlo Ancelotti), 2016, 2017, 2018 (under manager Zinedine Zidane), and 2022 (again under Ancelotti). Madrid are also eight-time winners of the Intercontinental Cup/FIFA Club World Cup, defeating Peñarol, Vasco da Gama, Club Olimpia, San Lorenzo, Kashima Antlers, Grêmio,
             Al Ain and Al Hilal in 1960, 1998, 2002, 2014, 2016, 2017, 2018 and 2022 respectively.</p>
    </div>
</body>