<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 650px;
            height: 650px;
        }
    </style>
</head>
<body>
    <h1>Real Madrid Stadium</h1>
    <img src="/assets/images/stadiummm.jpg" alt="image of stadium">
    <img src="/assets/images/stadiumm.jpg" alt="image of stadium">
</body>
</html>